<html>
<head>


</head>
<body>
  <h1> welcome to peer</h1>

  <p id ="me"></p>
  <video autoplay="true" id="videoElement"></video>
  <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
<script>
  var peer = new Peer({host: 'localhost', port: 3000, path: '/peerjs'});
  //console.log('hii');
  peer.on('open', function(id) {console.log("peerid "+ id) });
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
  navigator.getUserMedia({video: true, audio: true}, function (stream) {
  var call = peer.call('<%=id%>', stream);
  call.on('stream', function(remoteStream) {
    // Show stream in some video/canvas element.
    var video = document.querySelector("#videoElement");
     video.src = window.URL.createObjectURL(remoteStream);
  });
}, function(err) {
  console.log('Failed to get local stream' ,err);
});


 </script>

</body>
</html>
